
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <center><h1>Employees page</h1></center>
</div>


<div>
    <ul id="he">
        <li>
            <a class="active" href="#">Home</a>
        </li>
        <li>
            <a href="#!/addemployee">Add Employee</a>
        </li>
        <li>
            <a href="#!/contact">Contact</a>
        </li>


    </ul>
</div>
<div>
    <ng-view></ng-view>
</div>





