@{

    Layout = Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add/Edit </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form name="myform">
            <div class="modal-body">
                <div class="container jumbotron">
                    <div class="alert alert-success" ng-cloak ng-hide="haveRecords">{{successmessage}}</div>
                    <h1>Register </h1>
                    <div class="form-group" style="display:none">
                        <label for="id">Id :</label>
                        <input type="text" disabled="disabled" class="form-control" ng-model="getuserdatas[0].id">
                    </div>
                    <div class="form-group">
                        <label for="name">Name : </label>
                        <input type="text" ng-required="true" class="form-control" ng-model="getuserdatas[0].name">
                    </div>
                    <div class="form-group">
                        <label for="department">Department : </label>
                        <input type="text" ng-required="true" class="form-control" ng-model="getuserdatas[0].department">
                    </div>
                    <div class="form-group">
                        <label for="salary">Salary : </label>
                        <input type="number" class="form-control" ng-model="getuserdatas[0].salary" ng-required="true">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" ng-click="updateUser(getuserdatas[0])">Save</button>
                @*<input type="submit" ng-click="updateUser(getuserdatas[0])">*@
            </div>
        </form>
    </div>
</div>
